

<div class="col-6">

<div class="card" *ngFor="let weather of weatherData">
  <div class="card-body">
    <h4 class="card-title">{{weather.title}}</h4>
    <p class="card-text">Temperature: {{weather.consolidated_weather[0].the_temp}}</p>
    <p class="card-text">Max Temperature: {{weather.consolidated_weather[0].max_temp}}</p>
    <p class="card-text">Min Temperature: {{weather.consolidated_weather[0].min_temp}}</p>
    <!-- <a href="#" class="card-link">Another link</a> -->
  </div>
</div>

</div>